*,*:before,*:after {
  box-sizing: border-box; //padding и border не влияют на ширину блока
}
html {
  font-size: 62.5%; //для адаптивности. Чтобы было удобно считать в rem. В % задаем сво-во, чтобы считать от шрифта по умолчанию 16px
}
body {
  font-size: 1.6rem;
}