.advantages {
  &__container {
    max-width: 78rem;
    @media screen and (max-width:768px) {
      max-width: 70rem;
    }
  }
  &__header {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    margin: 8rem auto;
  }
  &__arrow {
    padding-right: 2rem;
    width: 19.9rem;
    margin: 0 auto;
    img {
      width: 100%;
      display: block;
    }
    &--left {
      position: relative;
      right: 4rem;
    }
  }
}