.certification {
  background-color: @color-blue-bg;
  &__header {
    text-align: center;
    font-size: 3.6rem;
    padding: 8rem 0 9rem 0;
    @media screen and (max-width:768px) {
      font-size: 4.6rem;
    }
  }
  &__main {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5.5rem;
  }
  &__img {
    width: 24.4rem;
    img {
      width: 100%;
      display: block;
    }
    @media screen and (max-width:768px) {
      margin: auto 0;
      padding-top: 3rem;
    }
  }
  &__subtitle {
    display: flex;
    margin-bottom: 3.5rem;
  }
  &__desc, &__text-header {
    width: 39rem;
  }
  &__text-header {
    font-size: 2.2rem;
    margin-left: 2rem;
    color: @color-blue-light;
  }
  &__img-exclamation {
    padding-top: 1rem;
    width: 5.6rem;
    img {
      display: block;
      width: 100%;
    }
  }
  &__text {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 3rem 0 2.5rem 0;
    @media screen and (max-width:768px) {
      font-size: 2.4rem;
    }
  }

}