.comparison {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    justify-content: center;
    margin: 4.5rem 0 5rem 0;
    font-size: 2.2rem;
  }
 &__header-item {
    width: 15rem;
    &--left {
      text-align: right;
      margin-right: 1.5rem;
    }
    &--right {
      color: @color-blue-light;
      margin-left: 1.5rem;
    }
  }
   &__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8rem;
      /*img {
        padding-left: 1.5rem;
      }*/
  }
  &__text {
    width: 19rem;
    font-size: 1.5rem;
    font-weight: 600;
    &--blue {
      color: @color-blue-light;
    }
    &--reverse {
      text-align: right;
    }
  }
  &__text-item {
    line-height: 1.1;
    padding-bottom: 3rem;
  }
  &__img {
    background: url("./../images/comparison.png") no-repeat 1rem/contain;
    display: flex;
    width: 21rem;
    height: 29.9rem;
    position: relative;
    &--left, &--right {
      position: relative;
      width: 8.7rem;
      img {
        position: relative;
        display: block;
        width: 100%;
      }
    }
    &--left {
      right: 15rem;
    }
    &--right {
      left: 18rem;
    }
  }
  &__arrow {
    position: relative;
    left: 0;
  }
  &__arrow-lf-1, &__arrow-rg-1 {
    top: 0.5rem;
    //left: 0;

  }
  &__arrow-lf-2,&__arrow-rg-2 {
    top: 5.5rem;
    //left: 0;
  }
  &__arrow-lf-3,&__arrow-rg-3 {
    top: 8.9rem;
    //left: 0;
  }
  &__arrow-lf-4,&__arrow-rg-4 {
    top: 11.6rem;
    //left: 0;
  }
}
