.descriptions {
  &__container {
    display: flex;
    padding: 14rem 0 6rem 0;
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32rem;
    margin: 0 2rem;
    &--reverse {
      text-align: right;
    }
  }
  &__img {
    background: url("./../images/descriptions.png") no-repeat center/contain;
    position: relative;
    width: 34rem;
    height: 33.3rem;
  }
  &__arrow {
    position: relative;
    &--left-top {
      bottom: -1rem;
      width: 12.2rem;
      right: 0.5rem;
    }

    &--left-bottom {
      top: 5.5rem;
      right: 4rem;
      width: 14.3rem;
    }
    &--right-top {
      left: 5rem;
      bottom: 7rem;
      width: 14.8rem;
    }
    &--right-bottom {
      width: 14.3rem;
      top: 9rem;
      left: 2.3rem;
    }
    @media screen and (max-width:768px) {
      display: none;
    }
  }
}