.free-delivery {
  background: url("./../images/free-delivery.png") no-repeat;
  background-position-x: 49.5%;
  &__container {
    display: flex;
    justify-content: flex-end;
  }
  &__cost {
    padding: 3rem 1.5rem;
    width: 16rem;
  }
  &__form {
    width: 26rem;
  }
}