.offer {
  background: url("./../images/IMG_offer.png") no-repeat;
  background-position-x: 49.5%;
  height: auto;
  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 63%;
    margin-left: auto;
    text-align: right;
  }
  &__form {
    width: 30rem;
    padding: 3rem 4rem;
    background: #fff;
    border-radius: 13%;
    margin: 6rem 0 5rem auto;
  }
  &__title {
    font-size: 4.1rem;
  }
  &__subtitle {
    font-size: 2.7rem;
    color: @color-blue-dark;
    margin-top: 1.7rem;
  }
  &__header {
    margin-top: 7rem;
  }
}